<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
            <traceFailedRequests>
                <clear />
            </traceFailedRequests>
        </tracing>
        <rewrite>
            <rules>
                <!-- Rule for Redirecting HTTP to HTTPS -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://mirrorworld-uk.co.uk/{R:1}" redirectType="Permanent" />
                </rule>
                <!-- Reverse Proxy to http://localhost:3000 -->
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <compilation tempDirectory="C:\HostingSpaces\admin\mirrorworld-uk.co.uk\tmp" />
    </system.web>
</configuration>